img {
    width: auto;
    max-width: 100%;
    height: auto;
}

p{
    text-align: center;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

#staff_form, #customer_form {
    background-color: #FFF;
    height: auto;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    text-align:center;
}

.errorClass { border:  1px solid red; }
